.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200, 0.7);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 35rem;
    height: 35rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.title h1{
    display: inline-block;
    text-align: center;
}

.author h2{
    font-weight: 400;
}

.close-btn{
    display: flex;
    justify-content: flex-end;
}

.close-btn button {
    background-color: transparent;
    color: var(--old-rose);
    padding: 5px 10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.close-btn button:hover{
    color: red;
    background-color: rgba(255, 0, 0, 0.25);
}

.modal-container .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    text-align: center;
    /* margin: 15px 0; */
    overflow: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    /* margin: auto 0; */
}

.modal-container .body::-webkit-scrollbar{
    display: none;
}

.modal-container .footer{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-action{
    background-color: var(--mint);
    transition: 0.5s ease-out;
}

button.btn-action:hover{
    background-color: white;
    border: 1px solid var(--mint);
    color: var(--mint);
}

.modal-btn, .btn-action {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: var(--old-rose);
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn:hover{
    background-color: white;
    border: 1px solid var(--old-rose);
    color: var(--old-rose);
}

/* Mobile L */
@media screen and (max-width: 426px){
    .modal-container{
        width: 20rem;
        height: 30rem;
    }

    .modal-container .body{
        margin: 10px 0;
        font-size: 20px;
    }

    .modal-container .body p {
        margin: auto 0;
    }
}

/* Mobile S */
@media screen and (max-width: 321px){
    .modal-container{
        width: 15rem;
        height: 25rem;
    }

    .title h1{
        font-size: 23px;
    }

    .author h2{
        font-size: 18px;
    }

    .modal-container .body{
        font-size: 15px;
    }

    .modal-btn, .btn-action{
        width: 120px;
        height: 35px;
    }
}