* {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.feed-container{
    min-height: calc(100vh - 11vh);
    max-height: calc(100vh - 11vh);
    display: flex;
    background: linear-gradient(to bottom, #252B2C, #3A3F40);
    max-width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.feed-container::-webkit-scrollbar{
    display: none;
}

.loading-quote > p, .loading-text > p {
    color: white;
}

.feed-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    padding: 0 3em;
    max-width: 100%;
}

.switch-mode{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 1.5rem 0.5rem 0.75rem 0;
    column-gap: 0.5rem;
}

.switch-text p {
    color: white;
    font-size: 90%;
    margin: 0;
}

.switch-btn button {
    padding: 3px 10px;
    background-color: transparent;
    border: 1px solid var(--mint);
}

.feed-title{
    max-height: 66px;
    max-width: 100%;
    display: inline-block;   
}

.feed-title h3{
    text-align: center;
    font-size: calc(1rem + 2.33vw);
    font-weight: 700;
    color: var(--floral-white);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed-authors p {
    font-size: calc(0.33rem + 2.33vw);
    font-weight: 500;
    margin-bottom: 0;
    color: var(--floral-white);
}

/* img and description */
.feed-info{
    min-width: 100%;
    max-height: 50vh;
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    justify-content: center;
    align-items: center;
}

.feed-image-container{
    min-width: 17em;
    height: 50vh;
    display: flex;
    align-self: center;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 5px 15px; 
    flex: 1;
}

.feed-img {
    border: 6px solid white;
}


.feed-description{
    max-height: calc(50vh - 3em);
    max-width: 70%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    color: var(--floral-white);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px; 
    padding: 15px;
}

.feed-description::-webkit-scrollbar{
    display: none;
}

.feed-description p{
    line-height: 1.8em;
    font-size: 125%;
}

.feed-btns, .small-feed-btns {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#save-button{
    background-color: var(--mint);
    color: var(--floral-white);
    transition: 0.5s ease-out;
    border: 1px solid var(--mint);
    font-size: calc(1.33rem + 1vw);
    width: calc(7.33rem + 5vw);
    height: calc(2rem + 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-button > svg,  #dismiss-button > svg{
    height: calc(0.66rem + 2vh);
}

#save-button:hover, #small-save-button:hover{
    background-color: transparent;
    color: var(--mint);
    border: 1px solid var(--mint);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px; 
}

#dismiss-button{
    background-color: var(--old-rose);
    color: var(--floral-white);
    transition: 0.5s ease-out;
    border: 1px solid var(--old-rose);
    font-size: calc(1.33rem + 1vw);
    width: calc(7.33rem + 5.5vw);
    height: calc(2rem + 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dismiss-button:hover, #small-dismiss-button:hover{
    background-color: transparent;
    color: var(--old-rose);
    border: 1px solid var(--old-rose);
    box-shadow: rgba(255, 255, 255, 0.15) 0px 5px 15px; 
}

/* Tablet */
@media screen and (max-width: 769px){
    .feed-content{
        padding: 0 1rem;
    }

    .feed-info{
        column-gap: 3vw;
    }
}

@media screen and (max-width: 646px){
    .feed-image-container{
        min-width: 14em;
        height: 40vh;
    }
}

@media screen and (max-width: 600px){

    .feed-container{
        flex-direction: column;
    }

    .feed-content{
        row-gap: calc(0.5rem + 2vh);
        height: calc(100vh - 28.33px - 11vh);
        margin-top: -3.5vh;
    }

    .feed-info{
        flex-direction: column;
        row-gap: 1rem;
    }

    .feed-image-container{
        min-width: calc(6.75rem + 12.5vw);
        max-width: calc(6.75rem + 12.5vw);
    }

    .feed-description{
        max-width: 100%;
    }

    .feed-description p{
        font-size: 95%;
    }

    .feed-btns{
        margin-top: 0;
    }

    #dismiss-button, #save-button {
        height: calc(1.5rem + 2vh);
    }

    #save-button > svg,  #dismiss-button > svg{
        height: calc(0.33rem + 2vh);
    }
}

@media screen and (max-width: 376px){
    .feed-content{
        padding: 0 0.5rem;
    }

    .feed-description p {
        font-size: 85%;
    }
}

.not-loggedIn {
    min-height: calc(100vh - 11vh);
    max-height: calc(100vh - 11vh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
}  

.not-loggedIn button, .limit-link button{
    background-color: var(--mint);
    border: 2px solid var(--mint);
}

.not-loggedIn button:hover,  .limit-link button:hover{
    background-color: transparent;
    color: var(--mint);
}

.limit-used-container{
    min-height: calc(100vh - 11vh);
    max-height: calc(100vh - 11vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    color: var(--floral-white);
}

.limit-text{
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}