.info-col div,
.info-col button {
    font-size: 1.2em;
}

.info-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
}

#dismiss-button {
    background-color: var(--old-rose);
    border-color: var(--old-rose);
}

#dismiss-button:hover {
    background-color: white;
    color: var(--old-rose);
}

#save-button {
    background-color: var(--mint);
    border-color: var(--mint);
}

#save-button:hover {
    background-color: white;
    color: var(--mint);
}