.home-overlay {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.overlay-text{
    margin-top: -100px;
    width: 70%;
    color: var(--floral-white);
}

.overlay-text h2 {
    font-size: 100px;
    font-weight: 700;
}

.overlay-text p{
    font-size: 36px;
    margin-top: 0.5em;
}

.get-started button {
    background-color: var(--mint);
    border: 2px solid var(--mint);
}

.get-started button:hover{
    background-color: transparent;
    color: var(--mint);
}

.get-started button a{
    color: var(--floral-white);
    text-decoration: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.info-content{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    background-color: var(--floral-white);
}

.info-content h3{
    font-size: 38px;
}

.home-icon{
    font-size: 50px;
    color: var(--mint);

}

.info-content p{
    font-size: 22px;
}

/* Tablet */
@media screen and (max-width: 769px){
    .overlay-text h2 {
        font-size: 75px;
    }
    
    .overlay-text p{
        font-size: 26px;
    }
}

/* Mobile L */
@media screen and (max-width: 426px){
    .overlay-text h2 {
        font-size: 65px;
    }
    
    .overlay-text p{
        font-size: 22px;
    }
}

/* Mobile S */
@media screen and (max-width: 426px){
    .overlay-text h2 {
        font-size: 45px;
    }
    
    .overlay-text p{
        font-size: 18px;
    }
}