
.home-overlay {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2em; */
}

.overlay-text{
    margin-top: -100px;
    width: 70%;
    color: var(--floral-white);
}

.overlay-text h2 {
    font-size: 100px;
    font-weight: 700;
}

.overlay-text p{
    font-size: 36px;
    margin-top: 0.5em;
}

.get-started button {
    background-color: var(--mint);
    border: 2px solid var(--mint);
}

.get-started button:hover{
    background-color: transparent;
    color: var(--mint);
}

.get-started button a{
    color: var(--floral-white);
    text-decoration: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    padding: 5px 10px;
    width: 85%;
    margin: 5vh auto;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    max-height: calc(100vh - 11vh);
}

.info-content{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: rgba(255, 255, 255, 0.55) 0px 5px 15px;
    background: var(--floral-white);
    max-height: 25vh;
    min-height: 25vh;
    justify-content: center;
}

.info-content h3{
    font-size: calc(0.75rem + 2vw);
    color: var(--gunmetal);
}

.home-icon{
    font-size: calc(2.5rem + 1.5vw);
    color: var(--mint);

}

.info-content p{
    font-size: calc(0.33rem + 1.50vw);
    color: var(--gunmetal);
    margin: 0;
}

/* Tablet */
@media screen and (max-width: 769px){
    .overlay-text h2 {
        font-size: 75px;
    }
    
    .overlay-text p{
        font-size: 26px;
    }
}

/* Mobile L */
@media screen and (max-width: 426px){
    .overlay-text h2 {
        font-size: 65px;
    }
    
    .overlay-text p{
        font-size: 22px;
    }
}

/* Mobile S */
@media screen and (max-width: 426px){
    .overlay-text h2 {
        font-size: 45px;
    }
    
    .overlay-text p{
        font-size: 18px;
    }
}