.login-container{
    height: calc(100vh - 11vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}

.login-container > h1{
    color: var(--floral-white);
}

.login-items{
    padding: 0, 20px, 20px, 20px;
}

.login-form{
    text-align: center;
    position: relative;
    height: 20rem;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
}

.login-form fieldset{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0 none;
    border-radius: 0px;
    box-shadow: rgba(255, 255, 255, 0.30) 0px 5px 15px;
    padding: 20px 30px;
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
}

.login-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 13px;
    font-family: serif;
}

.personal-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    gap: 1.5rem;
}

.show-login-error{
    color: red;
    margin-top: 0.5rem;
    font-size: calc(0.5rem + 0.66vw);
}

.hide-login-error{
    display: none;
}

.login-Btn {
    display: flex;
    justify-content: center;
    margin: 0.66rem auto 0.33rem auto;
}

.action-btn{
    border: 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 16px;
    border: 1px solid var(--mint);
    background-color: var(--mint);
    color: var(--floral-white);
    transition: 0.5s ease-out;
    font-weight: 700;
}

.action-btn:hover{
    background-color: white;
    color: var(--mint);
}

.to-signup{
    font-weight: 700;
    font-size: calc(0.70rem + 0.66vw);
}

@media screen and (max-width: 500px){

    .login-form {
        padding: 20px 2rem;
    }
}