.login-container{
    height: calc(100vh - 11vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}

.login-container > h1{
    color: var(--floral-white);
}

.login-items{
    padding: 20px;
}

.login-form{
    text-align: center;
    position: relative;
    /* margin-top: 30px; */
    height: 30rem;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
}

.login-form fieldset{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    /* box-sizing: border-box; */
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
}

.login-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 13px;
}

.personal-details{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 1.5rem;
}

.show-login-error{
    color: red;
    margin-top: 0.5rem;
    font-size: calc(0.5rem + 0.66vw);
}

.hide-login-error{
    display: none;
}

.Btn {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0 auto;
}

.action-btn{
    border: 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 16px;
    border: 1px solid var(--mint);
    background-color: var(--mint);
    color: var(--floral-white);
    transition: 0.5s ease-out;
}

.action-btn:hover{
    background-color: white;
    color: var(--mint);
}

@media screen and (max-width: 426px){

    .login-form {
        padding: 20px 2rem;
    }
}