
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    box-shadow: rgba(255, 255, 255, 0.10) 0px 5px 15px;
    background: var(--header-background);
    height: var(--header-height);
    top: 0;
    z-index: 3;
}

.Navbar{
    width: 100%;
}

a.navbar-brand{
    font-size: 225%;
    font-weight: 600;
    padding: 20px;
}

button.navbar-toggler{
    box-shadow: none !important;
    border: 1px solid var(--gunmetal);
}

a.nav-link {
    font-size: 140%;
    color: var(--gunmetal);
    border: 4px solid transparent;
    transition: 0.3s ease-in-out;
}

a.nav-link:hover{
    border-bottom: 4px solid var(--mint);
    color: var(--mint);
}

div.navbar-nav{
    display: flex;
    column-gap: 1.5em;
}

@media screen and (max-width: 756px){
    header{
        background: transparent;
        box-shadow: none;
        position: absolute;
    }

    button.navbar-toggler{
        margin: 1.5rem 2rem 0 auto;
        border: none;
        transition: 0.3s ease-in-out;
    }

    span.toggler-icon{
        color: var(--floral-white);
        font-size: 2rem;
    }
}

/* Mobile L */
@media screen and (max-width: 426px){

    a.navbar-brand{
        font-size: 200%;
    }

    a.navbar-brand{
        padding: 0;
        margin: 0;
    }

    .navbar-container{
        display: flex;
        flex-direction: column;
    }

    a.nav-link {
        font-size: 100%;
    }

    header{
        padding: 0;
    }
}

/* Mobile S */
@media screen and (max-width: 321px){
    a.navbar-brand{
        font-size: 175%;
    }

    div.navbar-nav{
        column-gap: 0.5em;
    }
}
