.signupForm{
    text-align: center;
    position: relative;
    margin-top: 30px;
    height: 30rem;
    background-color: transparent;
    box-shadow: none;
}

.signupForm fieldset{
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    /* box-sizing: border-box; */
    width: 80%;
    margin: 0 10%;
    height: 100%;
    position: relative;
}

.current {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.signupForm input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    font-size: 13px;
}

.personal-details{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1.5rem;
}

.input-error{
    border: 1.2px solid rgba(218, 12, 12, 0.8) !important;
    transition: 0.15s ease-in-out;
}

.input-error-hidden{
    display: none;
}

.input-error:focus{
    /* box-shadow: rgba(255, 0, 0, 0.25) 0px 5px 15px !important; */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 1); */
    box-shadow: 0 0 0 0.2rem rgba(218, 12, 12, 0.5);
}

.input-error-message{
    color: rgba(218, 12, 12, 0.7);
    margin-top: 0.5rem;
}

.input-error-message > p{
    margin: 0;
}

.input-error-message-hidden{
    display: none;
}

.genre-error{
    color: red;
    font-size: 90%;
}

.Btn {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: auto auto 10px auto;
}

.action-btn{
    border: 0;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 16px;
    border: 1px solid transparent;
}

button.next{
    background-color: var(--pacific-cyan);
    color: var(--floral-white);
    transition: 0.5s ease-out;
    border: 1px solid var(--pacific-cyan);
}

button.next:hover{
    background-color: white;
    border: 1px solid var(--pacific-cyan);
    color: var(--pacific-cyan);
}

button.previous{
    background-color: var(--old-rose);
    color: var(--floral-white);
    transition: 0.5s ease-out;
    border: 1px solid var(--old-rose);
}

button.previous:hover{
    background-color: white;
    color: var(--old-rose);
    border: 1px solid var(--old-rose);
}

button.submit{
    background-color: var(--mint);
    color: var(--floral-white);
    transition: 0.5s ease-out;
}

button.submit:hover{
    background-color: white;
    color: var(--mint);
    border: 1px solid var(--mint);
}

.signup-input {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 1em;
}

.signup-input input {
    font-size: 18px;
}

.signup-input button {
    width: 8em;
    font-size: 18px;
    margin-bottom: 0;
    background-color: white;
    border-radius: 5px;
    color: var(--mint);
    border: 2px solid var(--mint);
    font-weight: 600;
    transition: 0.5s ease-out;
}

.signup-input button:hover{
    background-color: var(--mint);
    color: var(--floral-white);

}

/* Mobile L */
@media screen and (max-width: 426px){

    .signupForm {
        padding: 0 2rem;
    }

    .signupForm fieldset{
        margin: 0;
        width: 100%;
    }

    .signup-input{
        gap: 10px;
    }

    .signup-input button{
        width: 4em;
        font-size: 14px;
    }

    .input-error-message{
        margin-bottom: -1rem;
        margin-top: 1rem;
    }
}

/* Mobile S */
@media screen and (max-width: 321px){
    .action-btn{
        font-size: 13px;
    }

    .signup-input{
        gap: 6px;
    }
}